{% extends 'admin_base.html' %}

{% block main%}

<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-info" style="border-bottom : 2px solid red" >Edit Employee Profile </h5>
       <div class="container-fluid">
           <form method="post">
               {% csrf_token %}
               <div class="form-row">
                   <div class="col-sm-6">
                       <div class="form-group">
                           <label>First Name</label>
                           <input type="text" name="firstname" class="form-control" placeholder="Enter the First Name" pattern="[A-Za-z]+" value="{{employee.user.first_name}}">
                       </div>
                   </div>

                   <div class="col-sm-6">
                       <div class="form-group">
                           <label>Last Name</label>
                           <input type="text" name="lastname" class="form-control" placeholder="Enter the Last Name" pattern="[A-Za-z]+" value="{{employee.user.last_name}}">
                       </div>
                   </div>

                   <div class="col-sm-12">
                       <div class="form-group">
                           <label>Employee Code</label>
                           <input type="text" name="empcode" class="form-control" placeholder="Enter Your Employee Code" pattern="[0-9]+" value="{{employee.empcode}}">
                       </div>
                   </div>

                   <div class="col-sm-6">
                       <div class="form-group">
                           <label>Employee Department [{{employee.empdept}}]</label>
                           <select name="department" class="form-control">
                               <option value="None">Select Department</option>
                               <option value="Civil">Civil</option>
                               <option value="HR">HR</option>
                               <option value="Project">Project</option>
                               <option value="Telecomm">Telecomm</option>
                               <option value="Finance">Finance</option>
                           </select>
                       </div>
                   </div>

                   <div class="col-sm-6">
                       <div class="form-group">
                           <label>Employee Designation [{{employee.designation}}]</label>
                           <select name="designation" class="form-control">
                               <option value="None">Select Designation</option>
                               <option value="CE">CE</option>
                               <option value="ESE">ESE</option>
                               <option value="EEE">EEE</option>
                               <option value="AEE">AEE</option>
                           </select>
                       </div>
                   </div>


                   <div class="col-sm-6">
                       <div class="form-group">
                           <label>Contact</label>
                           <input type="text" name="contact" class="form-control" placeholder="Contact Number" value="{{employee.contact}}" pattern="[0-9]+">
                       </div>
                   </div>

                   <div class="col-sm-6">
                       <div class="form-group">
                           <label>Email ID</label>
                           <input type="email" name="emailid" class="form-control" placeholder="Email ID" value="{{employee.user.username}}">
                       </div>
                   </div>

                   <div class="col-sm-6">
                       <div class="form-group">
                           <label>Joining Date [{{employee.joiningdate}}]</label>
                           <input type="date" name="jdate" class="form-control">
                       </div>
                   </div>

                    <div class="col-sm-6">
                       <div class="form-group">
                           <label>Gender [{{employee.gender}}]</label>
                           <select name="gender" class="form-control">
                               <option value="None">Select Gender</option>
                               <option value="Male">Male</option>
                               <option value="Female">Female</option>
                           </select>
                       </div>
                   </div>


               </div>
               <br>
               <input type="submit" value="SAVE" class="m-2 px-3 btn btn-primary">
           </form>
       </div>
    </div>

</div>

{% if error == "no" %}
<script>
    alert('Employee Profile Has Been Updated Successfully');
    window.location = ('{% url 'edit_profile' employee.id%}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong , Try Again...');

</script>
{% endif %}

{% endblock %}
